/* Schrift */
*{
    -fx-font-family: "Noto Sans", "Helvetica", sans-serif;
    -fx-font-size: 1em;
}
.header{
    -fx-font-size: 2em;
    -fx-text-align: center;
    -fx-fill: #357;
}
.subHeader{
    -fx-font-size: 1.5em;
}




/* Hintergrund */
.hintergrundGradient, AnchorPane{
    -fx-background-color: linear-gradient(to left top, #93afcd, #70defa);
}
.hintergrundWerte {
    -fx-background-color: white;
    -fx-border-color: black;
}

/* alt: .hintergrundGradient, AnchorPane{
    -fx-background-color: linear-gradient(to left top, #ded, #70defa);
}*/



/* Menü */
TabPane{
    -fx-tab-min-width: 50px;
}
.tab {
    -fx-background-color: linear-gradient(to top, #abefdf, #beffef);
    -fx-border-color: #ffffff00;
}





/* Kontrollfelder */

ChoiceBox{
    -fx-background-color: linear-gradient(to right, #abefde, #bff7ee);
    -fx-font-size: 1em;
    -fx-background-radius: 0.7em;
}

Button{
    -fx-background-color: linear-gradient(to right, #abefde, #bff7ee);
    -fx-font-size: 1em;
    -fx-background-radius: 0.7em;
}

TextField{
    -fx-background-radius: 0.7em;
    -fx-font-size: 1em;
    -fx-background-color: linear-gradient(to right, #abefde, #bff7ee);
}

menuLeiste{
    -fx-background-color: #a33
}







