*{
    -fx-font-family: "Noto Sans", "Helvetica", sans-serif;
    -fx-font-size: 1em;
}

/* Tab pane styling */
TabPane{
    -fx-tab-min-width: 50px;
}

TextField{
    -fx-background-color: #abefde66;
}

.tab {
    -fx-background-color: linear-gradient(to top, #abefdf, #beffef);
}

AnchorPane{
    -fx-background-color: linear-gradient(to left top, #ded, #70defa);
}
.header{
    -fx-font-size: 2em;
    -fx-text-align: center;
    -fx-fill: #357;
}
.subHeader{
    -fx-font-size: 1.5em;
}
.ampelLicht{
    -fx-stroke: none;
}
.aus{
    -fx-fill: linear-gradient(to top, #666, #222);
    -fx-stroke: none;
}
.ampelContainer{
    -fx-spacing: 3px;
    -fx-background-color: linear-gradient(to top , #555, #999);
    -fx-background-radius: 5px;
}
